body {
  font-family: "Roboto Condensed", sans-serif;
}

.news-logo {
  width: 400px;
  margin-bottom: -20px;
}

nav {
  background-color: #f72210;
}

a {
  text-decoration: none;
}

.nav-1 {
  height: 90px;
}

svg {
  fill: white;
}

nav > section > div > a {
  margin-right: 20px;
  font-weight: bolder;
}
section > div > a:last-of-type {
  margin-left: 20px;
  color: #FFFFFF8c;
}

.nav-0 > a {
  padding-bottom: 8px;
}

.date {
  margin-right: 20px;
}

.nav2 > ul > li {
  flex-grow: 1;
  display: flex;
}

.nav2 > ul > li > a {
  color: black;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  border-right: 1px solid rgb(221, 221, 221);
}

.nav2 > ul > li > i {
  z-index: 7;
}

.nav2::before {
  background-color: #f72210;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 90px;
  height: 15px;
}

.nav2::after {
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  top: -3px;
  right: 6%;
  content: "";
  width: 50px;
  height: 50px;
}

.search-btn {
  height: 30px;
  margin-right: 60px;
  z-index: 10;
}

.search-btn > input {
  width: 65px;
  z-index: 9;
}

.search-btn > input:focus {
  width: 93%;
  right: 11%;
  text-indent: 55px;
  position: absolute;
  transition: all 0.3s ease;
  outline: none;
}

.subscribe {
  font-weight: bold;
  background-color: #ffe400;
  border-radius: 10rem;
}

.nav-3 > ul {
  text-align: center;
}

.nav-3 > ul > li:first-of-type {
  font-weight: bold;
  color: black;
  padding-left: 28px;
}

.nav-3 > ul > li > a {
  font-weight: bold;
  padding-left: 28px;
  color: #807f84;
}

nav > section > ul > li > a:hover {
  color: #f72210;
}

.nav-0 > 
